@keyframes letter-in {
  from {
    opacity: 0;
    top: 30px;
    transform: rotate(-45deg) scale(0);
  }
  to {
    opacity: 1;
    top: 0;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes chosen-in {
  from {
    opacity: 0;
    top: -40px;
  }
  to {
    opacity: 1;
    top: 0px;
    border-bottom-width: 3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

@keyframes chosen-in-BREAKPOINT_1 {
  from {
    opacity: 0;
    top: -30px;
  }
  to {
    opacity: 1;
    top: 0px;
    border-bottom-width: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@keyframes chosen-in-BREAKPOINT_2 {
  from {
    opacity: 0;
    top: -20px;
  }
  to {
    opacity: 1;
    top: 0px;
    border-bottom-width: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

@keyframes answer-in {
  $OFFSET: 5px;
  $ROTATE: 10deg;

  0% {
    opacity: 1;
    transform: scale(1);
  }

  33% {
    transform: translateX(-#{$OFFSET}) rotate(-#{$ROTATE});
  }

  66% {
    transform: translateX(calc(#{$OFFSET} / 3.3)) rotate(calc(#{$ROTATE} / 3));
  }

  100% {
    opacity: 0;
    top: 0%;
    transform: scale(0);
    transform: translateX(0);
  }
}

@keyframes category-in {
  from {
    text-shadow: 0 0 30px, 0 0 30px, 0 0 30px, 0 0 30px, 0 0 30px;
  }
  to {
    text-shadow: 0 0 0px;
  }
}

@keyframes category-backdrop-in {
  from {
    width: 100%;
  }
  to {
    width: 4px;
  }
}

@keyframes category-backdrop-in-BREAKPOINT_1 {
  from {
    width: 100%;
  }
  to {
    width: 4px;
  }
}

@keyframes category-backdrop-in-BREAKPOINT_2 {
  from {
    width: 100%;
  }
  to {
    width: 2px;
  }
}

@keyframes score-in {
  from {
    opacity: 0;
    left: -100%;
  }

  to {
    left: 0%;
  }
}
