// Queries should be processed: Default => LARGEST -> smallest

$BREAKPOINT_1: 530px;
$BREAKPOINT_2: 350px;

// Medium Size
@media (max-width: $BREAKPOINT_1) {
  .entry-display {
    padding: 12px;
    padding-bottom: 8px;

    // Entry Backdrop
    &:before {
      border-width: 2px;
      border-radius: 6px;
    }

    .category {
      padding-left: 8px;
      font-size: 3vw;
      line-height: 3vw;

      &:after {
        animation: category-backdrop-in-BREAKPOINT_1 $ANIM_DUR_CATEGORY forwards;
      }
    }

    .entry {
      margin-left: 0;
      line-height: 8vw;

      .word {
        font-size: 7vw;
        line-height: 7vw;

        &:not(:last-child) {
          margin-right: 2vw;
        }

        &.chosen {
          animation: chosen-in-BREAKPOINT_1 $ANIM_DUR_HIDDEN forwards;
        }
      }
    }
  }
}

// Really small
@media (max-width: $BREAKPOINT_2) {
  .entry-display {
    padding: 8px;
    padding-bottom: 8px;

    // Entry Backdrop
    &:before {
      border-width: 2px;
      border-radius: 6px;
    }

    .category {
      padding-left: 1.5vw;
      font-size: 5vw;
      line-height: 5vw;

      &:after {
        animation: category-backdrop-in-BREAKPOINT_2 $ANIM_DUR_CATEGORY forwards;
      }
    }

    .entry {
      margin-left: 0;
      line-height: 6vw;

      .word {
        font-size: 8vw;
        line-height: 8vw;

        &:not(:last-child) {
          margin-right: 2vw;
        }

        &.chosen {
          animation: chosen-in-BREAKPOINT_2 $ANIM_DUR_HIDDEN forwards;
        }
      }
    }
  }
}

@media (max-width: 199px) {
  .entry-display {
    position: relative;
    &:after {
      content: 'Too Small';
      position: absolute;
      background: rgba(#f00, 0.7);
      bottom: 0;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
